body {
    background-color: lightgrey;
    margin: 0px;
    padding: 0px;
}

#top-div {
    box-shadow: 0px 0px 1px 1px;
}

#dropdownMenuLink {
    background-color: transparent;
    border: 0px;
}

#dropdownMenuLink:hover {
    color: orange;
}

a {
    /*color: darkblue;*/
    /*color: #FF7519;*/
    color:#333;
}

a:hover {
    text-decoration: none;
}

#slide1 {
    /*position: relative;*/
    /*display: flex;*/
    justify-content: center;
    height: 100%;
    width: 100%;
}

#slide2 {
    /*position: relative;*/
    /*display: flex;*/
    justify-content: center;
    height: 100%;
    width: 100%;
}

#slide3 {
    /*position: relative;*/
    /*display: flex;*/
    justify-content: center;
    height: 100%;
    width: 100%;
}

#slide4 {
    /*position: relative;*/
    /*display: flex;*/
    justify-content: center;
    height: 100%;
    width: 100%;
}

/*#flex-dir {*/
    /*flex-direction:row;*/
/*}*/

.card1 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: rgba(0,0,0,1);
}

ul li {
    display: inline;
}

#inputCity:focus {
    /*border-color: #ffc107;*/
}

#btn-rfq {
    background: #FF7519;
    color: #FFF;
    border-color: #FF7519;
}

#btn-search {
    background: #FF7519;
    color: #FFF;
    border-color: #FF7519;
}

#prg-bar {
    background: #FF7519;
    color: #FFF;
    border-color: #FF7519;
}

#rfq-heading {
    font-size: 20px;
    padding: 5px;
    background: #FF7519;
    color: #FFF;
    border-color: #FF7519;
    border-radius:5px;
    display: inline;
}

#recom-heading {
    font-size: 20px;
    padding: 5px;
    background: #FF7519;
    color: #FFF;
    border-color: #FF7519;
    border-radius:5px;
    display: inline;
}

#home-heading {
    font-size: 20px;
    padding: 5px;
    background: #FF7519;
    color: #FFF;
    border-color: #FF7519;
    border-radius:5px;
    display: inline;
}

#elec-heading {
    font-size: 20px;
    padding: 5px;
    background: #FF7519;
    color: #FFF;
    border-color: #FF7519;
    border-radius:5px;
    display: inline;
}

#machine-heading {
    font-size: 20px;
    padding: 5px;
    background: #FF7519;
    color: #FFF;
    border-color: #FF7519;
    border-radius:5px;
    display: inline;
}

.footer {
    font-size: 15px;
}

#myBtn {
    display: none;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: 0.6;
}

#myBtn:hover {
    background-color: #555;
}